* {
  margin: 0px;
}
body {
  font-family: "Rubik", sans-serif;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.img {
  padding: 10px;
  width: 155px;
  text-align: center;
}

.link {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.item {
  text-decoration: none;
  text-align: center;
}

.link a li {
  padding-bottom: 13px;
  padding-right: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #4a4a4a;
  text-align: center;
}

.main {
  background-color: #3cdbc0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.title {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-align: center;
}
